<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.dubbo.basic.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.lcy.dubbo.basic.model.MenuMo">
        <id column="MENU_ID" jdbcType="VARCHAR" property="menuId"/>
        <result column="MENU_CODE" jdbcType="VARCHAR" property="menuCode"/>
        <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName"/>
        <result column="LEVEL" jdbcType="INTEGER" property="level"/>
        <result column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId"/>
        <result column="PARENT_MENU_NAME" jdbcType="VARCHAR" property="parentMenuName"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="TARGET" jdbcType="VARCHAR" property="target"/>
        <result column="CTIME" property="ctime"/>
        <result column="UTIME" property="utime"/>
    </resultMap>
    <sql id="Base_Column_List">
        MENU_ID
        ,
        MENU_CODE,
        MENU_NAME,
        LEVEL,
        PARENT_MENU_ID,
        PARENT_MENU_NAME,
        URL,
        TARGET,
        CTIME,
        UTIME
    </sql>
    <select id="getMenuById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from basic_menu
        where MENU_ID = #{menuId,jdbcType=VARCHAR}
    </select>
    <delete id="delMenuById" parameterType="java.lang.String">
        delete
        from basic_menu
        where MENU_ID = #{menuId,jdbcType=VARCHAR}
    </delete>
    <insert id="addMenu" parameterType="com.lcy.dubbo.basic.model.MenuMo">
        insert into basic_menu (<include refid="Base_Column_List"/>)
        values (#{menuId,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR},
        #{level,jdbcType=INTEGER}, #{parentMenuId,jdbcType=VARCHAR}, #{parentMenuName,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{ctime},
        #{utime})
    </insert>
    <update id="updateMenuById" parameterType="com.lcy.dubbo.basic.model.MenuMo">
        update basic_menu
        set MENU_CODE        = #{menuCode,jdbcType=VARCHAR},
            MENU_NAME        = #{menuName,jdbcType=VARCHAR},
            LEVEL            = #{level,jdbcType=INTEGER},
            PARENT_MENU_ID   = #{parentMenuId,jdbcType=VARCHAR},
            PARENT_MENU_NAME = #{parentMenuName,jdbcType=VARCHAR},
            URL              = #{url,jdbcType=VARCHAR},
            TARGET           = #{target,jdbcType=VARCHAR},
            CTIME            = #{ctime},
            UTIME            = #{utime}
        where MENU_ID = #{menuId,jdbcType=VARCHAR}
    </update>
</mapper>